[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aws-sam-cli = "*"

[packages]
mangum = {extras = ["full"],version = "*"}
fastapi = "*"
jinja2 = "*"
boto3 = "*"
webexteamssdk = "*"

[requires]
python_version = "3.7"
