{% extends "base.html" %}
{% block title %}User Key{% endblock %}
{% block content %}
<div class="container my-5">
  <h2>Success!</h2>
  <p>
    Here is your user key. You may use this key to request your Webex access token from the
    token keeper API. The token keeper will automatically refresh the token, if needed, when
    you request the token from the token keeper API. Please see the
    <a href="/docs" target="_blank" rel="noopener">API docs</a> for more information.
  </p>
  <p class="alert alert-warning">
    Treat your user key like a password &mdash; anyone with the key can retrieve your
    access token. Save it now; it will not be shown again.
  </p>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">User Key</th>
        <td><pre class="mb-0"><code>{{ user_key }}</code></pre></td>
      </tr>
      <tr>
        <th scope="row">Token URI</th>
        <td><pre class="mb-0"><code>{{ token_uri }}</code></pre></td>
      </tr>
      <tr>
        <th scope="row">Current Token</th>
        <td><pre class="mb-0"><code>{{ token }}</code></pre></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
