{% extends "base.html" %}
{% block title %}Start{% endblock %}
{% block content %}
<div class="container my-5">
  <h2>Authorize and Store a Token</h2>
  <div class="row align-items-center">
    <div class="col-md-8">
      <p>
        By clicking Authorize and completing the Webex OAuth flow, you authorize this Webex
        Token Keeper app to store and refresh a
        <strong>Webex Access Token with access to the capabilities granted in the
          authorization process</strong>. Upon completion of the OAuth flow, the token keeper
        app will provide you with a user key and API endpoint that you may use to
        programmatically retrieve the stored Webex access token.
      </p>
    </div>
    <div class="col-md-4 text-center">
      <a href="/authorize" class="btn btn-primary btn-lg px-5">Authorize</a>
    </div>
  </div>
</div>
{% endblock %}
